doctype html
html(lang="en")
  head
    title Registered Files

    link(rel="stylesheet", href="./css/style.css")
    link(rel="stylesheet",href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")








  body
    div.container-fluid.bg-secondary.mb-4
      div.card-body.text-center
        h3.text-white  Baby Center

    block content
    script(type='text/javascript' src='/public/js/validationregistration.js')

    block foot

      div.container-fluid.bg-secondary.mb-4
        div.card-body.text-center
          h3.text-white  Care for little explorers. &copy; Maria Angella Aboyo






