extends layout.pug

block content
    div.row.justify-content-center
        div.col-md-4
            a.btn.btn-primary.btn-block(href="/supervisorregistration") Register Supervisor 
            a.btn.btn-primary.btn-block(href="/sitterregistration") Register Sitter 
            a.btn.btn-primary.btn-block(href="/officialdashboard") View Customer Details
            a.btn.btn-primary.btn-block(href="/officiallogout") Logout

        div.col-md-7
            div.card-body.border
                header.card-header
                    h4.card-title.text-center.pt-1 Sitter's Registration



                article.card-body
                form(name="sitterregistration" method="POST" action="/sitterregistration" onSubmit="return +formValidation();"  onchange="return FormValidation();")
                    div.form-row
                        div.col.form-group
                            label First name
                            input(type='text', name='sitterfirstname', class="form-control.ng-touched.ng-invalid.style.border('2px solid red')", id='sitterfirstname', placeholder='Enter first name', required, data-required-msg='First Name is required'  oninvalid="this.setCustomValidity('Enter first name')"
 oninput="userIdVal('')")
                                  

                        div.col.form-group
                            label Last name
                            input(type='text', name='sitterlastname', class='form-control', id='sitterlastname', placeholder='Enter last name', required, data-required-msg='Last Name is required')
                        div.col.form-group
                            label Sitter's ID
                            input(type='text', name='sitterusername', class='form-control', id='sitterusername', placeholder='e.g MO0001', required, data-required-msg='Username is required')

                    div.form-row
                        div.col.form-group
                            label Email address
                            input(type='email', name='sitteremailaddress', class='form-control', id='sitteremailaddress', placeholder='Enter email address', required, data-required-msg='Email address is required')
                    div.form-row
                        div.col.form-group
                            label Physical address
                            input(type='text', name='sitterphysicaladdress', class='form-control', id='sitterphysicaladdress', placeholder='Enter physical address', required, data-required-msg='Physical address is required')


                    div.form-row
                        div.col.form-group
                            label.form-check.form-check-inline
                                input.form-check-input(type="radio" name="sittergender" value="male")
                                span.form-check-label Male
                        div.col.form-group
                            label.form-check.form-check-inline
                                input.form-check-input(type="radio" name="sittergender" value="female")
                                span.form-check-label Female




                    div.form-row
                        div.col.form-group
                            label Create password
                            input(type='password', name='sitterpassword', class='form-control', id='sitterpassword', placeholder='Enter password', required, data-required-msg='Password is required')
                    div.form-row
                        div.col.form-group
                            button.btn.btn-primary.btn-block(type="submit") Register
                        

                    div.form-row
                        small.col.text-muted By clicking the 'Sign Up' button, you confirm that you accept our 
                            <br> Terms of use and Privacy Policy.

                









